body {
  background-color: #e88420;
  background-image: url(https://img.freepik.com/free-photo/happy-young-woman-sitting-floor-using-laptop-gray-wall_231208-11472.jpg?w=900&t=st=1664120639~exp=1664121239~hmac=51b5889786262de23fec106af707b11172576e937193d7b54bac14a714838fa3);
  background-repeat: no-repeat;
  background-size: cover;
}
